doctype html
html(lang='en')
    head 
        title Title pug
        meta(charset="UTF-8")
        link(rel='stylesheet' href='./css/style.css')
    body 
        h1 Click on the cat
        block content 
        script(src="./js/main.js")